@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 Merriweather, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  display: block;
}

.img-flex-wrap {
  position: relative;
}

header h1 {
  padding: 0 1rem;
  font-size: 2.25rem;
}

main {
  padding: 0 1em;
}

.img-flex {
  display: block;
  width: 100%;
}

.img-flex-height {
  max-height: 15em;
  overflow: hidden;
}

header nav {
  background-color: #cfcfcf;
}

header ul {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 0;
}

header li {
  list-style-type: none;
  width: 50%;
  padding: .5rem 0;
}

li:hover a {
  color: #fff;
}

li:hover {
  background-color: #b5b5b5;
}

header nav a {
  color: #000;
  font-size: 1.25rem;
  text-decoration: none;
}

/* Sec 1 */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  display: flex;
  margin-bottom: 1.3rem;
  flex-wrap: wrap;
  align-items: flex-start;
}

.one h3 {
  margin: 0;
}

.one p {
  margin-top: 0;
}

.img {
  max-width: 10em;
  margin-bottom: 1.3rem;
}

.text {
  max-width: 56%;
}

/* Sec 2 */

.two a {
  text-decoration: none;
  background-color: #cfcfcf;
  padding: .5rem;
}

.two a:hover {
  color: #fff;
  background-color: #b5b5b5;
}
/* Sec 3 */

dd, dt {
  display: inline-block;
  width: 35%;
}

/* Footer */

footer {
  display: block;
  width: 100%;
  background-color: #cfcfcf;
  padding: .5rem;
  text-align: center;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  .text {
    padding-left: 1.3rem;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  header li {
    width: 25%;
  }

  .card {
    width: 50%;
  }

  .text {
    padding: 0;
    min-width: 100%;
  }

  .text h3, .text p {
    max-width: 10.5em;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  h1 {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3);
  }

  .card {
    width: 25%;
  }

  .img {
    margin-left: auto;
    margin-right: auto;
  }

  .text {
    min-width: 10em;
    margin-left: auto;
    margin-right: auto;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

}
